/* HEADER */
header {
    padding: 18px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    vertical-align: bottom;
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__link {
    color: rgb(149, 151, 165);
    font-size: 14px;
    font-weight: 400;
    line-height: -1px;
    letter-spacing: -0.11px;

}

.header-btn {
    padding: 8px 36px 8px 33px;
    border-radius: 22px;
    background: linear-gradient(134.71deg, rgb(51, 211, 94) -43.027%, rgb(42, 182, 217) 56.553%);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
}

.header-btn:hover {
    background: linear-gradient(134.71deg,
            rgb(51, 211, 94) 56.553%,
            rgb(42, 182, 217) -43.027%);

}

.menu-btn {
    display: none;
    background: transparent;
    border: none;
}

.menu-btn:hover {
    cursor: pointer;
}

.main-container {
    position: relative;
}

.hero {
    background: url(../imges/bg.png) no-repeat;
    margin-left: auto;
    width: 732px;
    height: 901px;
}

.hero-texts {
    top: 170px;
    left: 20px;
    position: absolute;
}

.hero-h1 {
    color: rgb(45, 49, 77);
    font-size: 56px;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: -1px;
    margin-bottom: 24px;
}

.hero-p1 {
    color: rgb(149, 151, 165);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.28px;
    margin-bottom: 36px;
}

.hero-btn {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    border-radius: 22px;
    background: linear-gradient(134.71deg, rgb(51, 211, 94) -43.027%, rgb(42, 182, 217) 56.553%);
    width: 163px;
    height: 44px;
    text-align: center;
    padding-top: 8px;
}

.services-text1 {
    color: rgb(45, 49, 77);
    font-size: 40px;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: -0.71px;
    text-align: left;
}

.services-text2 {
    color: rgb(149, 151, 165);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.28px;
}

.section2 {
    padding-top: 72px;
    display: flex;
    column-gap: 30px;
}

.sec1-text1 {
    margin-top: 40px;
    color: rgb(45, 49, 77);
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: -0.43px;
    text-align: left;
    margin-bottom: 26px;
}

.secc1-text2 {
    margin-top: 40px;
    color: rgb(45, 49, 77);
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: -0.43px;
    text-align: left;
    margin-bottom: 26px;
}

.secc1-text1 {
    margin-bottom: 26px;
    margin-top: 40px;
    color: rgb(45, 49, 77);
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    letter-spacing: -0.43px;
    text-align: left;
}

.Articles {
    display: flex;
    margin-top: 100px;
    column-gap: 20px;
    margin-left: -30px;
}

.art1-img1 {
    margin-bottom: 8px;
}

.art-text1 {
    color: rgb(45, 49, 77);
    font-size: 40px;
    font-weight: 100;
    line-height: 64px;
    letter-spacing: -0.71px;
    margin-top: 80px;
}

.art1-text1 {
    color: rgb(149, 151, 165);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.16px;
    padding-left: 24px;
}

.art-text2 {
    padding-top: 15px;
    font-size: 25px;
    line-height: 30px;
    padding-left: 24px;
}

.art-text3 {
    padding-top: 8px;
    color: rgb(149, 151, 165);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.2px;
    max-width: 207px;
    max-height: 72px;
    padding-left: 24px;
}

.art1 {
    -webkit-box-shadow: 0px 7px 10px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 10px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 10px 0px rgba(34, 60, 80, 0.2);
    max-width: 256px;
    height: 440px;
}

footer {
    width: 100%;
    background: rgb(45, 49, 77);
    height: 200px;
    color: #fff;
    margin-top: 100px;
}

.foot1 {
    padding-top: 48px;
}

.soshal {
    display: flex;
    column-gap: 14px;
    padding-top: 55px;
    margin-bottom: 40px;
}

.fots {
    display: flex;
    align-items: center;

}

.foot-img:hover {
    color: chartreuse;
}

.foot2 {
    margin-top: 20px;
    margin-left: 131px;
    line-height: 40px;
}

.foot-text1:hover {
    color: chartreuse;

}

.foot3 {
    margin-top: 25px;
    margin-left: 130px;
    line-height: 40px;
}

.foot3-text1:hover {
    color: chartreuse;
}

.foot4 {
    margin-left: auto;
    padding-right: 20px;
    margin-top: 50px;
}

.foot4-text {
    margin-left: -75px;

}

.foot-link {
    padding: 15px 36px 15px 33px;
    border-radius: 22px;
    background: linear-gradient(134.71deg, rgb(51, 211, 94) -43.027%, rgb(42, 182, 217) 56.553%);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.23px;
}

.foot4-text {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.23px;
    opacity: 0.5;

}